body{

        background-image: url(pic7.png);
        background-size: cover;

    }
    .aa{
    	width: 270px;
    	height: 370px;
    	background-color: rgba(0,0,0,0.1); 
    	margin: 0 auto;
    	margin-top: 230px;
    	padding-top: 10px;
    	padding-left: 50px;
    	border-radius: 15px;
    	-webkit-border-radius:15px;
    	-o-border-color: 15px;
    	-moz-border-color: 15px;
      -ms-border-color: 15px;
      -o-border-color: 15px;
      color:white;
      font-weight: bolder;
      box-shadow: inset -4px -4px rgba(0,0,0,0.1); 
      font-size: 18px;
}
      .aa input[type="text"]{
      width: 200px;
      height: 35px;
      border:0px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      -moz-border-radius: 5px;
      padding-left: 15px;

  }

  .aa input[type="password"]{
      width: 200px;
      height: 35px;
      padding-left: 15px;
      border:0px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      -moz-border-radius: 5px;

  }

  .aa input[type="Submit"]{
      width: 100px;
      height: 35px;
      border: 0;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      -moz-border-radius: 5px;
      background-color: silver;
      font-weight: bolder;
  }  
